/************************** global init **************************/

html {
    font-size: 14px !important;
    margin: 0;
    padding: 0;
    height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, button, textarea, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53";
    background: transparent;
    box-sizing: border-box;
}

body {
    font-size: .7rem;
    line-height: 1;
    color: #fff;
    height: 100%;
    background: rgba(31, 39, 59, 0.9)
    /* #1f273b */
}

a {
    text-decoration: none;
    outline: none
}

a {
    transition: all 0.5s linear
}

i {
    font-style: normal;
}

b, strong {
    font-weight: normal;
}

ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/************************** common css**************************/

.float-left {
    float: left;
}

.float-right {
    float: right;
}